<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <h3>Past Searches (<%= @feed_items.count %>)</h3>  
        <%= render 'shared/feed' %>
      </section>
    </aside>
    <aside class="span4">
      <section class="center span4 offset1">
          <%= render 'shared/search_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Find-a-Doc</h1>

    <h2>
      Find-a-Doc is a platform for finding physicians in Connecticut hospitals.
      The current provider directory system is really fragmented and it is difficult
      to search through dozens of hospitals if you do not know where things are.
      Find-a-Doc brings all the necessary provider information to your fingertips. You just enter
      your address, symptoms, a specialty or (if you are fancy enough) the ICD-9 code 
      of your disease and we take care of the rest.
    </h2>
    
    <%= link_to "Sign up for free now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>