<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <h3>Past Searches (<%= @feed_items.count %>)</h3>  
        <%= render 'shared/feed' %>
      </section>
    </aside>
    <aside class="span4">
      <section class="center span4 offset1">
          <%= render 'shared/search_form' %>
      </section>
    </aside>
    <% if @feed_items.any? %>
      <iframe
        width="450"
        height="300"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0FKqGtrDLb75TcmCX9DZTZyY-GhB8nLA
      &q= <%= @feed_items.first.address %>
          <%= @feed_items.first.city %>
          <%= @feed_items.first.state %>
          <%= @feed_items.first.zipcode %> USA">
      </iframe>
    <% else %>
      <iframe
          width="450"
          height="300"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0FKqGtrDLb75TcmCX9DZTZyY-GhB8nLA
        &q=<%= current_user.zipcode %> USA">
      </iframe>
    <% end %>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Find-a-Doc</h1>

    <h2>
      Blah Blah Blah.
    </h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>