<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/search_form' %>
      </section>
    </aside>
    <iframe
      width="450"
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0FKqGtrDLb75TcmCX9DZTZyY-GhB8nLA
    &q=Space+Needle,Seattle+WA">
    </iframe>
    <aside class="span4">
      <h3>Past Searches (<%= @feed_items.count %>)</h3>  
      <%= render 'shared/feed' %>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Find-a-Doc</h1>

    <h2>
      Blah Blah Blah.
    </h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>