<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
        <%= render 'shared/user_info' %>
    </section>
    <section>
      <h3>Past Searches (<%= @feed_items.count %>)</h3>  
      <%= render 'shared/feed' %>
    </section>
  </aside>
  <div class="span8">
    <% if @hospitals.any? %>
      <iframe
        width="500"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0FKqGtrDLb75TcmCX9DZTZyY-GhB8nLA
      &q= <%= @hospitals.first.name %>">  
      </iframe>
    <% elsif @feed_items.any? %>
      <iframe
        width="550"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0FKqGtrDLb75TcmCX9DZTZyY-GhB8nLA
      &q= <%= @feed_items.first.address %>
          <%= @feed_items.first.city %>
          <%= @feed_items.first.state %>
          <%= @feed_items.first.zipcode %> USA">
      </iframe>
    <% else %>
      <iframe
          width="500"
          height="350"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0FKqGtrDLb75TcmCX9DZTZyY-GhB8nLA
        &q=<%= current_user.zipcode %> USA">
      </iframe>
    <% end %>
    <h4 class="center">Hospitals(<%= @hospitals.count %>)</h4>
    <ol class="searches center">
      <% @hospitals.each do |hospital| %>
        <li>
          <span class="content">
            <h5> <%= hospital.name%> </h5>
            <%= hospital.address %>
            <%= hospital.city %>
            <%= hospital.state %>
            <%= hospital.zipcode %>
            <p> <%= hospital.phone %> </p>
            <%= link_to hospital.website, hospital.website %>
          </span>
        </li>
      <% end %>
    </ol>
    <% if @doctors_spec.any? %>
      <h4 class="center">Physicians by Specialty(<%= @doctors_spec.count %>)</h4>
      <ol class="searches">
        <% @doctors_spec.each do |doctor| %>
          <li>
            <span class="content center">
              <h5> <%= doctor.name %> </h5>
              <p> <%= doctor.department %> </p>
              <%= Specialty.find_by(provider_id: doctor.id.to_s).name %>
              <p> <%= hospital.phone %> </p>
            </span>
          </li>
        <% end %>
      </ol>
    <% end %>
    <% if @doctors_symptom.any? %>
      <h4 class="center">Physicians by Symptoms(<%= @doctors_symptom.count %>)</h4>
      <ol class="searches">
        <% @doctors_symptom.each do |doctor| %>
          <li>
            <span class="content center">
              <h5> <%= doctor.name %> </h5>
              <p> <%= doctor.department %> </p>
              <%= Specialty.find_by(provider_id: doctor.id.to_s).name %>
              <p> <%= hospital.phone %> </p>
            </span>
          </li>
        <% end %>
      </ol>
    <% end %>
    <% if @doctors_code.any? %>
      <h4 class="center">Physicians by ICD-9 Code(<%= @doctors_code.count %>)</h4>
      <ol class="searches">
        <% @doctors_code.each do |doctor| %>
          <li>
            <span class="content center">
              <h5> <%= doctor.name %> </h5>
              <p> <%= doctor.department %> </p>
              <%= Specialty.find_by(provider_id: doctor.id.to_s).name %>
              <p> <%= hospital.phone %> </p>
            </span>
          </li>
        <% end %>
      </ol>
    <% elsif @doctors.any? %>
      <h4 class="center">Physicians(<%= @doctors.count %>)</h4>
      <ol class="searches">
        <% @doctors.each do |doctor| %>
          <li>
            <span class="content center">
                <h5> <%= doctor.name %> </h5> 
                <p> <%= doctor.department %> </p>
                <%= Specialty.find_by(provider_id: doctor.id.to_s).name %>
                <p> <%= hospital.phone %> </p>
              </span>
            </span>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>