<%= link_to gravatar_for(current_user, size: 90 ), current_user %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= current_user.address %>
</span>
<span>
  <%= current_user.city %>
</span>
<span>
  <%= current_user.state%>
  <%= p"-"%>
  <%= current_user.zipcode%>
</span>
<span>
  <%= link_to "View my profile", current_user %>
</span>